{% extends 'base.html.twig' %}

{% block title %}Edit Evenement{% endblock %}
{% block  crud %}
	<div class="main-header">
		<a class="menu-link-main" href="#">Acceuil admin</a>
			<div class="header-menu">
				<a class="main-header-link" href="{{ path('app_evenement_new') }}">Ajouter</a>
				<a class="main-header-link" href="{{ path('app_evenement_index') }}">Afficher</a>
				
			</div>
	</div>
{% endblock %}
{% block body %}
    <h1>Edit Evenement</h1>

    {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
